body {}

.navigation {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  li {
    display: inline;
    font-weight: bold;
    a {
      color: gray;
      &.active {
        color: #000000;
        font-weight: bolder;
      }
    }
  }
  li+li {
    margin-left: 25px;
  }
}

ul.pagination {
  min-width: 360px;
  list-style: none;
  padding-top: 5px;
  li {
    display: inline;
  }

  li+li {
    margin-left: 25px;
  }
}